Importamos las librerias

In [1555]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Despues de exportar los csv, tratare de hacer una revision de cada uno.

In [1556]:
localidades_con_internet = pd.read_csv('data/localidades_con_internet.csv')

reemplazamos los '--' por 'NO'

In [1557]:
localidades_con_internet.replace({'--':'NO'},inplace=True)

Las localidades no las uniremos porque todos los datos de localidades no son completos pero si los usaremos en nuestro analisis y tambien las incluiremos en el analisis exploratorio de los datos

In [1558]:
localidades_con_internet

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,NO,NO,NO,SI,SI,SI,NO,NO
1,BUENOS AIRES,9 de Julio,Carlos María Naón,NO,NO,NO,NO,SI,SI,SI,NO,NO
2,BUENOS AIRES,9 de Julio,Dudignac,NO,NO,SI,NO,SI,SI,SI,SI,NO
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),NO,NO,NO,NO,SI,NO,NO,NO,NO
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,NO,NO,SI,SI,SI,SI,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
4306,BUENOS AIRES,Pilar,Pilar,SI,SI,SI,SI,SI,SI,SI,SI,SI
4307,BUENOS AIRES,Pilar,Presidente Derqui,SI,SI,NO,SI,SI,SI,SI,SI,NO
4308,BUENOS AIRES,Pilar,Roberto De Vicenzo,NO,NO,NO,NO,SI,SI,NO,NO,NO
4309,BUENOS AIRES,Pilar,Santa Teresa,NO,NO,NO,NO,SI,SI,NO,NO,SI
4310,BUENOS AIRES,Pilar,Tortuguitas,NO,NO,NO,SI,SI,SI,NO,SI,SI

Estos datos usaremos en nuestro analisis ya que contienen datos relevantes que son las localidades con acceso a internet y el tipo de internet

In [1559]:
penetracion = pd.read_csv('data/Internet_Penetracion.csv')

Este csv contiene datos relevantes para el analisis.

In [1560]:
penetracion

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021
5,2021,3,"70,58","21,98",Jul-Sept 2021
6,2021,2,"69,24","21,55",Abr-Jun 2021
7,2021,1,"67,95","21,13",Ene-Mar 2021
8,2020,4,"67,62","21,01",Oct-Dic 2020
9,2020,3,"66,31","20,59",Jul-Sept 2020
10,2020,2,"64,21","19,92",Abr-Jun 2020
11,2020,1,"62,86","19,48",Ene-Mar 2020
12,2019,4,"62,92","19,49",Oct-Dic 2019
13,2019,3,"65,79","20,36",Jul-Sept 2019
14,2019,2,"64,53","19,96",Abr-Jun 2019
15,2019,1,"62,48","19,31",Ene-Mar 2019
16,2018,4,"61,42","18,97",Oct-Dic 2018
17,2018,3,"60,69","18,73",Jul-Sept 2018
18,2018,2,"59,16","18,24",Abr-Jun 2018
19,2018,1,"58,82","18,12",Ene-Mar 2018
20,2017,4,"57,78","17,79",Oct-Dic 2017
21,2017,3,"56,90","17,51",Jul-Sept 2017
22,2017,2,"54,90","16,88",Abr-Jun 2017
23,2017,1,"54,16","16,64",Ene-Mar 2017
24,2016,4,"53,94","16,56",Oct-Dic 2016
25,2016,3,"53,73","16,50",Jul-Sept 2016
26,2016,2,"53,34","16,37",Abr-Jun 2016
27,2016,1,"51,85","15,90",Ene-Mar 2016
28,2015,4,"52,63","16,12",Oct-Dic 2015
29,2015,3,"52,46","16,05",Jul-Sept 2015
30,2015,2,"51,76","15,82",Abr-Jun 2015
31,2015,1,"51,36","15,68",Ene-Mar 2015
32,2014,4,"50,50","15,39",Oct-Dic 2014
33,2014,3,"50,67","15,43",Jul-Sept 2014
34,2014,2,"49,86","15,16",Abr-Jun 2014
35,2014,1,"49,55","15,05",Ene-Mar 2014

In [1561]:
Ingresos = pd.read_csv('data/Internet_Ingresos.csv')

In [1562]:
Ingresos

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2022          4                         72   Oct-Dic 2022
1   2022          3                         64  Jul-Sept 2022
2   2022          2                         60   Abr-Jun 2022
3   2022          1                         55   Ene-Mar 2022
4   2021          4                         45   Oct-Dic 2021
5   2021          3                         43  Jul-Sept 2021
6   2021          2                         38   Abr-Jun 2021
7   2021          1                         37   Ene-Mar 2021
8   2020          4                         34   Oct-Dic 2020
9   2020          3                         32  Jul-Sept 2020
10  2020          2                         32   Abr-Jun 2020
11  2020          1                         30   Ene-Mar 2020
12  2019          4                         24   Oct-Dic 2019
13  2019          3                         22  Jul-Sept 2019
14  2019          2                         21   Abr-Jun 2019
15  2019          1                         20   Ene-Mar 2019
16  2018          4                         17   Oct-Dic 2018
17  2018          3                         15  Jul-Sept 2018
18  2018          2                         14   Abr-Jun 2018
19  2018          1                         13   Ene-Mar 2018
20  2017          4                         11   Oct-Dic 2017
21  2017          3                         10  Jul-Sept 2017
22  2017          2                         10   Abr-Jun 2017
23  2017          1                          9   Ene-Mar 2017
24  2016          4                          7   Oct-Dic 2016
25  2016          3                          7  Jul-Sept 2016
26  2016          2                          7   Abr-Jun 2016
27  2016          1                          6   Ene-Mar 2016
28  2015          4                          5   Oct-Dic 2015
29  2015          3                          5  Jul-Sept 2015
30  2015          2                          5   Abr-Jun 2015
31  2015          1                          5   Ene-Mar 2015
32  2014          4                          4   Oct-Dic 2014
33  2014          3                          3  Jul-Sept 2014
34  2014          2                          3   Abr-Jun 2014
35  2014          1                          3   Ene-Mar 2014

Luego de observar los ultimos 2 csv 'Ingresos' y 'penetracion', quise unirlos en un solo dataframe porque contenian la misma cantidad de observaciones, asi tengo los accesos por cada 100 hogares y habitantes con los ingresos

In [1563]:
Ingresos_penetracion = penetracion.merge(Ingresos[['Periodo','Ingresos (miles de pesos)']],on='Periodo')

In [1564]:
Ingresos_penetracion

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo,Ingresos (miles de pesos)
0,2022,4,"77,21","24,15",Oct-Dic 2022,72
1,2022,3,"76,64","23,95",Jul-Sept 2022,64
2,2022,2,"75,97","23,72",Abr-Jun 2022,60
3,2022,1,"73,88","23,05",Ene-Mar 2022,55
4,2021,4,"73,18","22,81",Oct-Dic 2021,45
5,2021,3,"70,58","21,98",Jul-Sept 2021,43
6,2021,2,"69,24","21,55",Abr-Jun 2021,38
7,2021,1,"67,95","21,13",Ene-Mar 2021,37
8,2020,4,"67,62","21,01",Oct-Dic 2020,34
9,2020,3,"66,31","20,59",Jul-Sept 2020,32
10,2020,2,"64,21","19,92",Abr-Jun 2020,32
11,2020,1,"62,86","19,48",Ene-Mar 2020,30
12,2019,4,"62,92","19,49",Oct-Dic 2019,24
13,2019,3,"65,79","20,36",Jul-Sept 2019,22
14,2019,2,"64,53","19,96",Abr-Jun 2019,21
15,2019,1,"62,48","19,31",Ene-Mar 2019,20
16,2018,4,"61,42","18,97",Oct-Dic 2018,17
17,2018,3,"60,69","18,73",Jul-Sept 2018,15
18,2018,2,"59,16","18,24",Abr-Jun 2018,14
19,2018,1,"58,82","18,12",Ene-Mar 2018,13
20,2017,4,"57,78","17,79",Oct-Dic 2017,11
21,2017,3,"56,90","17,51",Jul-Sept 2017,10
22,2017,2,"54,90","16,88",Abr-Jun 2017,10
23,2017,1,"54,16","16,64",Ene-Mar 2017,9
24,2016,4,"53,94","16,56",Oct-Dic 2016,7
25,2016,3,"53,73","16,50",Jul-Sept 2016,7
26,2016,2,"53,34","16,37",Abr-Jun 2016,7
27,2016,1,"51,85","15,90",Ene-Mar 2016,6
28,2015,4,"52,63","16,12",Oct-Dic 2015,5
29,2015,3,"52,46","16,05",Jul-Sept 2015,5
30,2015,2,"51,76","15,82",Abr-Jun 2015,5
31,2015,1,"51,36","15,68",Ene-Mar 2015,5
32,2014,4,"50,50","15,39",Oct-Dic 2014,4
33,2014,3,"50,67","15,43",Jul-Sept 2014,3
34,2014,2,"49,86","15,16",Abr-Jun 2014,3
35,2014,1,"49,55","15,05",Ene-Mar 2014,3

In [1565]:
banda_ancha_fija = pd.read_csv('data/Internet_BAF.csv')

Luego de observar los datos, opté por no utilizar estos datos en mi analisis.

In [1566]:
banda_ancha_fija

     Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0   2022          4                11       12     11   Oct-Dic 2022
1   2022          3                11       12     11  Jul-Sept 2022
2   2022          2                11       12     11   Abr-Jun 2022
3   2022          1                11       13     11   Ene-Mar 2022
4   2021          4                10       13     10   Oct-Dic 2021
5   2021          3                10       10     10  Jul-Sept 2021
6   2021          2                10       10     10   Abr-Jun 2021
7   2021          1                10       10     10   Ene-Mar 2021
8   2020          4                10       10     10   Oct-Dic 2020
9   2020          3                 9       10      9  Jul-Sept 2020
10  2020          2                 9       10      9   Abr-Jun 2020
11  2020          1                 9       10      9   Ene-Mar 2020
12  2019          4                 9       10      9   Oct-Dic 2019
13  2019          3                 9       22      9  Jul-Sept 2019
14  2019          2                 9       22      9   Abr-Jun 2019
15  2019          1                 9       22      9   Ene-Mar 2019
16  2018          4                 8       22      8   Oct-Dic 2018
17  2018          3                 8       27      8  Jul-Sept 2018
18  2018          2                 8       27      8   Abr-Jun 2018
19  2018          1                 8       27      8   Ene-Mar 2018
20  2017          4                 8       27      8   Oct-Dic 2017
21  2017          3                 8       28      8  Jul-Sept 2017
22  2017          2                 7       29      7   Abr-Jun 2017
23  2017          1                 7       29      7   Ene-Mar 2017
24  2016          4                 7       29      7   Oct-Dic 2016
25  2016          3                 7       29      7  Jul-Sept 2016
26  2016          2                 7       32      7   Abr-Jun 2016
27  2016          1                 7       33      7   Ene-Mar 2016
28  2015          4                 7       33      7   Oct-Dic 2015
29  2015          3                 7       33      7  Jul-Sept 2015
30  2015          2                 7       33      7   Abr-Jun 2015
31  2015          1                 7       38      7   Ene-Mar 2015
32  2014          4                 7       39      7   Oct-Dic 2014
33  2014          3                 7       36      7  Jul-Sept 2014
34  2014          2                 6       36      6   Abr-Jun 2014
35  2014          1                 6       36      6   Ene-Mar 2014

In [1567]:
banda_ancha_fija_provincias = pd.read_csv('data/Internet_BAF_provincias.csv')

estos datos los conservare porque me seran utiles en mi analisis.

In [1568]:
banda_ancha_fija_provincias

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  Total
0    2022          4         Buenos Aires                 5      6.0      5
1    2022          4      Capital Federal                 2      2.0      2
2    2022          4            Catamarca                71      1.0     71
3    2022          4                Chaco               144      5.0    144
4    2022          4               Chubut               168    904.0    169
..    ...        ...                  ...               ...      ...    ...
859  2014          1           Santa Cruz                26    460.0     27
860  2014          1             Santa Fe               506    612.0    507
861  2014          1  Santiago Del Estero                37      9.0     37
862  2014          1     Tierra Del Fuego                27    766.0     28
863  2014          1              Tucumán               130     88.0    130

[864 rows x 6 columns]

In [1569]:
velocidad_general = pd.read_csv('data/Internet_Accesos-por-velocidad.csv')

Estos datos los conservare porque me seran utiles en el analisis.

In [1570]:
velocidad_general

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794
5,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541
6,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084
7,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972
8,2020,4,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562
9,2020,3,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199
10,2020,2,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056
11,2020,1,42.550,56.170,2.649.819,1.022.014,814.470,532.309,3.500.882,194.212,8.812.426
12,2019,4,38.272,28.980,2.792.307,1.046.128,851.619,1.004.083,2.830.746,201.046,8.793.181
13,2019,3,241.713,80.599,3.309.137,1.026.859,806.466,1.141.545,2.314.898,243.467,9.164.684
14,2019,2,202.790,95.980,3.444.458,871.142,1.169.632,1.250.366,1.677.830,247.983,8.960.181
15,2019,1,166.573,195.706,3.428.759,882.836,1.464.748,1.244.215,1.138.728,126.570,8.648.135
16,2018,4,138.740,201.196,3.337.982,882.388,1.472.634,1.688.748,599.579,152.388,8.473.655
17,2018,3,5.675,220.589,3.401.277,859.413,1.607.137,1.571.692,524.777,156.475,8.347.035
18,2018,2,5.972,219.467,3.316.868,979.416,1.905.839,1.000.036,444.391,238.455,8.110.444
19,2018,1,7.309,215.406,3.272.724,976.956,2.068.087,862.010,397.977,236.584,8.037.053
20,2017,4,15.041,221.474,3.773.159,1.005.545,1.730.353,631.946,337.559,155.145,7.870.222
21,2017,3,19.022,217.997,4.062.226,1.062.810,1.592.304,353.480,245.790,0.000,7.553.629
22,2017,2,22.366,222.766,4.416.065,990.281,1.342.000,231.604,98.635,0.000,7.323.717
23,2017,1,20.653,230.159,4.584.534,975.027,1.129.987,210.668,47.990,0.000,7.199.018
24,2016,4,20.724,233.398,4.673.339,971.094,1.038.029,169.522,38.590,0.000,7.144.696
25,2016,3,20.104,294.413,4.816.081,936.533,919.208,124.564,31.022,0.000,7.141.925
26,2016,2,44.008,384.221,5.058.481,796.998,785.759,73.977,29.020,0.000,7.172.464
27,2016,1,30.428,404.810,4.944.358,762.999,641.646,27.664,23.380,0.000,6.835.285
28,2015,4,34.243,427.394,5.049.640,726.740,639.011,17.568,22.170,0.000,6.916.766
29,2015,3,35.030,455.777,5.087.802,701.187,539.414,13.101,20.677,0.000,6.852.988
30,2015,2,40.723,500.175,5.138.431,645.440,432.762,10.045,18.529,0.000,6.786.105
31,2015,1,41.158,516.919,5.121.423,571.620,348.102,7.643,16.347,0.000,6.623.212
32,2014,4,44.075,554.749,5.084.556,496.251,276.254,4.371,15.229,0.000,6.475.485
33,2014,3,37.430,608.018,5.153.437,373.372,182.483,507,12.424,0.000,6.367.671
34,2014,2,41.064,656.408,5.149.574,341.689,147.273,478,12.259,0.000,6.348.745
35,2014,1,52.684,687.619,5.130.294,289.182,101.127,345,11.595,0.000,6.272.846

In [1571]:
velocidad_provincias = pd.read_csv('data/Internet_Accesos-por-velocidad_provincias.csv')

Estos datos tambien conservare porque me serviran en el analisis.

In [1572]:
velocidad_provincias

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
860,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
861,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
862,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
863,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [1573]:
tecnologia_general = pd.read_csv('data/Internet_Accesos-por-tecnologia.csv')

Estos datos seran utiles en mi analisis, solo eliminare la columna total la cual no sera relevante en mi analisis.

In [1574]:
tecnologia_general.drop(columns='Total',inplace=True)

In [1575]:
tecnologia_general

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Periodo
0,2022,4,1,6,3,573,222,Oct-Dic 2022
1,2022,3,1,6,3,557,235,Jul-Sept 2022
2,2022,2,1,6,3,556,232,Abr-Jun 2022
3,2022,1,2,6,2,546,252,Ene-Mar 2022
4,2021,4,2,6,2,523,253,Oct-Dic 2021
5,2021,3,2,6,2,492,250,Jul-Sept 2021
6,2021,2,2,6,1,477,254,Abr-Jun 2021
7,2021,1,2,5,1,435,250,Ene-Mar 2021
8,2020,4,2,5,1,422,253,Oct-Dic 2020
9,2020,3,2,5,1,413,249,Jul-Sept 2020
10,2020,2,2,5,1,377,247,Abr-Jun 2020
11,2020,1,2,5,1,352,209,Ene-Mar 2020
12,2019,4,2,5,941,340,213,Oct-Dic 2019
13,2019,3,3,5,852,338,264,Jul-Sept 2019
14,2019,2,3,5,761,308,265,Abr-Jun 2019
15,2019,1,3,4,637,276,166,Ene-Mar 2019
16,2018,4,3,4,388,264,178,Oct-Dic 2018
17,2018,3,4,4,247,246,94,Jul-Sept 2018
18,2018,2,4,4,226,194,95,Abr-Jun 2018
19,2018,1,4,4,217,165,99,Ene-Mar 2018
20,2017,4,4,4,211,156,101,Oct-Dic 2017
21,2017,3,4,4,194,106,132,Jul-Sept 2017
22,2017,2,4,3,181,86,56,Abr-Jun 2017
23,2017,1,4,3,180,85,56,Ene-Mar 2017
24,2016,4,4,3,178,85,55,Oct-Dic 2016
25,2016,3,4,3,170,81,54,Jul-Sept 2016
26,2016,2,4,3,168,85,59,Abr-Jun 2016
27,2016,1,4,3,164,85,59,Ene-Mar 2016
28,2015,4,4,3,139,86,59,Oct-Dic 2015
29,2015,3,4,3,163,85,59,Jul-Sept 2015
30,2015,2,4,3,151,82,59,Abr-Jun 2015
31,2015,1,4,3,168,79,66,Ene-Mar 2015
32,2014,4,4,3,150,77,72,Oct-Dic 2014
33,2014,3,4,3,155,85,70,Jul-Sept 2014
34,2014,2,4,2,149,72,72,Abr-Jun 2014
35,2014,1,4,2,150,71,73,Ene-Mar 2014

In [1576]:
tecnologia_provincias = pd.read_csv('data/Internet_Accesos-por-tecnologia_provincias.csv')

En estos datos solo eliminare la ultima fila '864', la cual no aportaba nada al analisis.

In [1577]:
tecnologia_provincias.drop(index=864,inplace=True)

In [1578]:
tecnologia_provincias

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,19.0,100.0,381.0,4.0,3.0,27.0
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0

In [1579]:
bajada_general = pd.read_csv('data/historico_velocidad_internet.csv')

tomare la columna de las medias de bajada para colocarla en el dataframe 'Ingresos_penetracion'

In [1580]:
bajada_general.rename({'Trimestre.1':'Periodo'},axis=1,inplace=True)

bien ya teniendo los datos unidos seguimos con el analisis de los demas datos

In [1581]:
Ingresos_bajada_penetracion_gen = Ingresos_penetracion.merge(bajada_general[['Mbps (Media de bajada)','Periodo']],on='Periodo')

In [1582]:
bajada_provincias = pd.read_csv('data/historico_velocidad_internet _provincias.csv')

Estos datos los dejare intactos porque me serviran para mi analisis

In [1583]:
bajada_provincias

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          4         Buenos Aires                 111.000
1    2022          4      Capital Federal                  18.286
2    2022          4            Catamarca                   8.333
3    2022          4                Chaco                  10.402
4    2022          4               Chubut                   1.592
..    ...        ...                  ...                     ...
859  2014          1           Santa Cruz                 332.000
860  2014          1             Santa Fe                 315.000
861  2014          1  Santiago Del Estero                 295.000
862  2014          1     Tierra Del Fuego                 345.000
863  2014          1              Tucumán                 321.000

[864 rows x 4 columns]

In [1584]:
localidad_tecnologia = pd.read_csv('data/Acceso_por_tecnologia_y_localidad.csv')

eliminamos la ultima columna que no tiene ninguna relevancia en este analisis

In [1585]:
localidad_tecnologia.drop(columns='Unnamed: 13',inplace=True)

In [1586]:
localidad_tecnologia

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,31,- 0,"3,73",- 0,- 0,- 0,- 0,"3,76"
3133,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313
3134,TUCUMAN,Trancas,Villa de Trancas,90112030,126,- 0,- 0,- 0,33,- 0,- 0,101,260
3135,TUCUMAN,Yerba Buena,Villa Carmela,90119020,"1,5",- 0,- 0,- 0,1,- 0,- 0,97,"1,6"
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,209,- 0,"15,4",33,- 0,- 0,- 0,"15,78"

In [1587]:
bajada_velocidad_provincias = pd.read_csv('data/Acceso_por_bajada_y_provincia.csv')

Eliminamos la ultima fila que contenia solo valores faltantes.

In [1588]:
bajada_velocidad_provincias.drop(index=504,inplace=True)

In [1589]:
bajada_velocidad_provincias

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97.634,18,- 0,- 0,28.724,192,4.611,...,- 0,- 0,14,- 0,- 0,- 0,5.655,- 0,90.796,- 0
1,2022.0,4.0,Capital Federal,106.772,31,- 0,- 0,451.000,34,1.307,...,- 0,- 0,- 0,1,- 0,- 0,15,- 0,28.406,- 0
2,2022.0,4.0,Catamarca,2.280,- 0,- 0,- 0,34.000,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,4.0,Chaco,3.909,- 0,225,111,234.000,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,4.0,Chubut,20.026,8,- 0,- 0,69.000,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2017.0,4.0,Santa Cruz,- 0,- 0,- 0,- 0,68.000,- 0,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
500,2017.0,4.0,Santa Fe,14.119,- 0,- 0,- 0,3.109,- 0,7.637,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
501,2017.0,4.0,Santiago Del Estero,- 0,- 0,- 0,- 0,41.000,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
502,2017.0,4.0,Tierra Del Fuego,- 0,- 0,- 0,- 0,6.000,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
503,2017.0,4.0,Tucumán,- 0,- 0,- 0,- 0,105.000,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [1590]:
bajada_velocidad_localidades = pd.read_csv('data/acceso_fijo_velocidad_bajada_localidad.csv')

cambiamos todos los valores nulos por 0

In [1591]:
bajada_velocidad_localidades.replace({np.nan:0},inplace=True)

In [1592]:
bajada_velocidad_localidades

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,TUCUMAN,Trancas,Villa de Trancas,90112030,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,TUCUMAN,Yerba Buena,Villa Carmela,90119020,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3094,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Ahora comenzare a hacer una serie de cambios en los dataframes y comenzare a cargarlos en una nueva carpeta llamada 'nuevos_datos'

In [1593]:
banda_ancha_fija['Total'] = banda_ancha_fija['Banda ancha fija'] + banda_ancha_fija['Dial up']

In [1594]:
banda_ancha_fija.to_csv('nuevos_datos/banda_ancha_general.csv',index=False)

Ingresamos la columna 'Periodo' en el dataframe de velocidad_general para poder hacer el merge

In [1595]:
velocidad_general['Periodo'] = Ingresos_bajada_penetracion_gen['Periodo'].values

In [1596]:
velocidad_general.head(1)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Periodo
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114,Oct-Dic 2022

Aqui cambiaremos el tipo de datos de algunas columnas del dataframe velocidad_general

In [1597]:
velocidad_general['Hasta 512 kbps'] = velocidad_general['Hasta 512 kbps'].astype(str)
velocidad_general['Entre 512 Kbps y 1 Mbps'] = velocidad_general['Entre 512 Kbps y 1 Mbps'].astype(str)
velocidad_general['Entre 1 Mbps y 6 Mbps'] = velocidad_general['Entre 1 Mbps y 6 Mbps'].astype(str)
velocidad_general['Entre 6 Mbps y 10 Mbps'] = velocidad_general['Entre 6 Mbps y 10 Mbps'].astype(str)
velocidad_general['Entre 10 Mbps y 20 Mbps'] = velocidad_general['Entre 10 Mbps y 20 Mbps'].astype(str)
velocidad_general['Entre 20 Mbps y 30 Mbps'] = velocidad_general['Entre 20 Mbps y 30 Mbps'].astype(str)
velocidad_general['Más de 30 Mbps'] = velocidad_general['Más de 30 Mbps'].astype(str)
velocidad_general['OTROS'] = velocidad_general['OTROS'].astype(str)
velocidad_general['Total'] = velocidad_general['Total'].astype(str)

Luego con el tipo de dato podremos sacar los puntos y convertirlos en enteros

In [1598]:
velocidad_general['Hasta 512 kbps'] = velocidad_general['Hasta 512 kbps'].str.replace('.', '').astype(int)
velocidad_general['Entre 512 Kbps y 1 Mbps'] = velocidad_general['Entre 512 Kbps y 1 Mbps'].str.replace('.', '').astype(int)
velocidad_general['Entre 1 Mbps y 6 Mbps'] = velocidad_general['Entre 1 Mbps y 6 Mbps'].str.replace('.', '').astype(int)
velocidad_general['Entre 6 Mbps y 10 Mbps'] = velocidad_general['Entre 6 Mbps y 10 Mbps'].str.replace('.', '').astype(int)
velocidad_general['Entre 10 Mbps y 20 Mbps'] = velocidad_general['Entre 10 Mbps y 20 Mbps'].str.replace('.', '').astype(int)
velocidad_general['Entre 20 Mbps y 30 Mbps'] = velocidad_general['Entre 20 Mbps y 30 Mbps'].str.replace('.', '').astype(int)
velocidad_general['Más de 30 Mbps'] = velocidad_general['Más de 30 Mbps'].str.replace('.', '').astype(int)
velocidad_general['OTROS'] = velocidad_general['OTROS'].str.replace('.', '').astype(int)
velocidad_general['Total'] = velocidad_general['Total'].str.replace('.', '').astype(int)

Aqui unire 2 columnas sumandolas en una nueva columna y luego eliminar esas columnas las cuales ya no usare

In [1599]:
velocidad_general['hasta 1 Mbps'] = velocidad_general['Hasta 512 kbps'] + velocidad_general['Entre 512 Kbps y 1 Mbps']
velocidad_general.drop(columns=['Hasta 512 kbps','Entre 512 Kbps y 1 Mbps'],inplace=True)
velocidad_general['1 Mbps - 10 Mbps'] = velocidad_general['Entre 1 Mbps y 6 Mbps'] + velocidad_general['Entre 6 Mbps y 10 Mbps']
velocidad_general.drop(columns=['Entre 1 Mbps y 6 Mbps','Entre 6 Mbps y 10 Mbps'],inplace=True)
velocidad_general['10 Mbps - 30 Mbps'] = velocidad_general['Entre 10 Mbps y 20 Mbps'] + velocidad_general['Entre 20 Mbps y 30 Mbps']
velocidad_general.drop(columns=['Entre 10 Mbps y 20 Mbps','Entre 20 Mbps y 30 Mbps'],inplace=True)

asi nos quedo

In [1600]:
velocidad_general.head(2)

,Año,Trimestre,Más de 30 Mbps,OTROS,Total,Periodo,hasta 1 Mbps,1 Mbps - 10 Mbps,10 Mbps - 30 Mbps
0,2022,4,7410902,394282,11208114,Oct-Dic 2022,117649,2184693,1100588
1,2022,3,6995750,349035,11091128,Jul-Sept 2022,129740,2313276,1303327

Ahora lo importaremos a en un formato csv

In [1601]:
velocidad_general.to_csv('nuevos_datos/velocidad_general.csv',index=False)

Seguiremos con el dataframe de tecnologia_general

crearemos la columna total_tecnologia

In [1602]:
tecnologia_general['Total_tecnologia'] = tecnologia_general['ADSL'] + tecnologia_general['Cablemodem'] + tecnologia_general['Fibra óptica'] + tecnologia_general['Wireless'] + tecnologia_general['Otros']

asi nos quedo:

In [1603]:
tecnologia_general.head(2)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Periodo,Total_tecnologia
0,2022,4,1,6,3,573,222,Oct-Dic 2022,805
1,2022,3,1,6,3,557,235,Jul-Sept 2022,802

In [1604]:
tecnologia_general.to_csv('nuevos_datos/tecnologia_general.csv',index=False)

Seguire con Ingresos_bajada_penetracion_gen, lo que hare sera cambiar el tipo de dato de Mbps(Media de bajada) a str

In [1605]:
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].astype(str)

Luego tomaremos los datos desde el indice 21 hasta el 35 porque cuando hacemos el reemplazo de los . en todo nos saltan algunos errores

In [1606]:
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35].str.replace('.','')

C:\Users\Win10\AppData\Local\Temp\ipykernel_13708\361034274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35].str.replace('.','')

Ahora eliminaremos los 0 en esos indices

In [1607]:
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35].str.replace('0','')

C:\Users\Win10\AppData\Local\Temp\ipykernel_13708\656393772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'][21:35].str.replace('0','')

Luego lo haremos para todos los demas datos

In [1608]:
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'] = Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].str.replace('.', '')

ahora lo que hare sera ingresar manualmente el valor correspondiente al indice 35 de la columna porque se elimina al realizar los pasos anteriores.

In [1609]:
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].iloc[35] = 362
Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].iloc[27] = 508

C:\Users\Win10\AppData\Local\Temp\ipykernel_13708\3646892789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].iloc[35] = 362
C:\Users\Win10\AppData\Local\Temp\ipykernel_13708\3646892789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ingresos_bajada_penetracion_gen['Mbps (Media de bajada)'].iloc[27] = 508

In [1610]:
Ingresos_bajada_penetracion_gen

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo,Ingresos (miles de pesos),Mbps (Media de bajada)
0,2022,4,"77,21","24,15",Oct-Dic 2022,72,10656
1,2022,3,"76,64","23,95",Jul-Sept 2022,64,6246
2,2022,2,"75,97","23,72",Abr-Jun 2022,60,5844
3,2022,1,"73,88","23,05",Ene-Mar 2022,55,5511
4,2021,4,"73,18","22,81",Oct-Dic 2021,45,5234
5,2021,3,"70,58","21,98",Jul-Sept 2021,43,4846
6,2021,2,"69,24","21,55",Abr-Jun 2021,38,4563
7,2021,1,"67,95","21,13",Ene-Mar 2021,37,4311
8,2020,4,"67,62","21,01",Oct-Dic 2020,34,4236
9,2020,3,"66,31","20,59",Jul-Sept 2020,32,4067
10,2020,2,"64,21","19,92",Abr-Jun 2020,32,3832
11,2020,1,"62,86","19,48",Ene-Mar 2020,30,3752
12,2019,4,"62,92","19,49",Oct-Dic 2019,24,2826
13,2019,3,"65,79","20,36",Jul-Sept 2019,22,2418
14,2019,2,"64,53","19,96",Abr-Jun 2019,21,2033
15,2019,1,"62,48","19,31",Ene-Mar 2019,20,1738
16,2018,4,"61,42","18,97",Oct-Dic 2018,17,1595
17,2018,3,"60,69","18,73",Jul-Sept 2018,15,1536
18,2018,2,"59,16","18,24",Abr-Jun 2018,14,1385
19,2018,1,"58,82","18,12",Ene-Mar 2018,13,1322
20,2017,4,"57,78","17,79",Oct-Dic 2017,11,1201
21,2017,3,"56,90","17,51",Jul-Sept 2017,10,834
22,2017,2,"54,90","16,88",Abr-Jun 2017,10,716
23,2017,1,"54,16","16,64",Ene-Mar 2017,9,662
24,2016,4,"53,94","16,56",Oct-Dic 2016,7,634
25,2016,3,"53,73","16,50",Jul-Sept 2016,7,594
26,2016,2,"53,34","16,37",Abr-Jun 2016,7,542
27,2016,1,"51,85","15,90",Ene-Mar 2016,6,508
28,2015,4,"52,63","16,12",Oct-Dic 2015,5,499
29,2015,3,"52,46","16,05",Jul-Sept 2015,5,479
30,2015,2,"51,76","15,82",Abr-Jun 2015,5,455
31,2015,1,"51,36","15,68",Ene-Mar 2015,5,435
32,2014,4,"50,50","15,39",Oct-Dic 2014,4,416
33,2014,3,"50,67","15,43",Jul-Sept 2014,3,387
34,2014,2,"49,86","15,16",Abr-Jun 2014,3,376
35,2014,1,"49,55","15,05",Ene-Mar 2014,3,362

y listo nos quedo el dataframe completo, lo que hare sera convertirlo en un csv.

In [1611]:
Ingresos_bajada_penetracion_gen.to_csv('nuevos_datos/accesos_ingresos_y_media_de_bajada.csv',index=False)

Bien ya terminado con los datos generales que representan los años y trimestres, pasare a realizar cambios y importar en formato csv los dataframes que sean de localidades y provincias.

Comencemos con las provincias

comenzando con banda_ancha_fija_provincias, lo que haremos sera eliminar la columna total, ya que no tiene relevancia en nuestro analisis.

In [1612]:
banda_ancha_fija_provincias.drop(columns='Total',inplace=True)

Luego con un arange de la libreria numpy lo que haremos sera ingresar una nueva columna para poder luego en power bi relacionar los csvs de provincias.

In [1613]:
rango = np.arange(864)
banda_ancha_fija_provincias['indice'] = rango

importamos a un csv

In [1614]:
banda_ancha_fija_provincias

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  indice
0    2022          4         Buenos Aires                 5      6.0       0
1    2022          4      Capital Federal                 2      2.0       1
2    2022          4            Catamarca                71      1.0       2
3    2022          4                Chaco               144      5.0       3
4    2022          4               Chubut               168    904.0       4
..    ...        ...                  ...               ...      ...     ...
859  2014          1           Santa Cruz                26    460.0     859
860  2014          1             Santa Fe               506    612.0     860
861  2014          1  Santiago Del Estero                37      9.0     861
862  2014          1     Tierra Del Fuego                27    766.0     862
863  2014          1              Tucumán               130     88.0     863

[864 rows x 6 columns]

In [1615]:
banda_ancha_fija_provincias.to_csv('nuevos_datos/banda_ancha_provincias.csv',index=False)

Seguiremos con el dataframe velocidad_provincias el cual le haremos un trato igual que el dataframe velocidad_general.

Aqui cambiaremos el tipo de datos de algunas columnas del dataframe a str

In [1616]:
velocidad_provincias['HASTA 512 kbps'] = velocidad_provincias['HASTA 512 kbps'].astype(str)
velocidad_provincias['+ 512 Kbps - 1 Mbps'] = velocidad_provincias['+ 512 Kbps - 1 Mbps'].astype(str)
velocidad_provincias['+ 1 Mbps - 6 Mbps'] = velocidad_provincias['+ 1 Mbps - 6 Mbps'].astype(str)
velocidad_provincias['+ 6 Mbps - 10 Mbps'] = velocidad_provincias['+ 6 Mbps - 10 Mbps'].astype(str)
velocidad_provincias['+ 10 Mbps - 20 Mbps'] = velocidad_provincias['+ 10 Mbps - 20 Mbps'].astype(str)
velocidad_provincias['+ 20 Mbps - 30 Mbps'] = velocidad_provincias['+ 20 Mbps - 30 Mbps'].astype(str)
velocidad_provincias['+ 30 Mbps'] = velocidad_provincias['+ 30 Mbps'].astype(str)
velocidad_provincias['OTROS'] = velocidad_provincias['OTROS'].astype(str)
velocidad_provincias['Total'] = velocidad_provincias['Total'].astype(str)

Luego le quitaremos los '.' y los convertiresmos en numeros enteros

In [1617]:
velocidad_provincias['HASTA 512 kbps'] = velocidad_provincias['HASTA 512 kbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 512 Kbps - 1 Mbps'] = velocidad_provincias['+ 512 Kbps - 1 Mbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 1 Mbps - 6 Mbps'] = velocidad_provincias['+ 1 Mbps - 6 Mbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 6 Mbps - 10 Mbps'] = velocidad_provincias['+ 6 Mbps - 10 Mbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 10 Mbps - 20 Mbps'] = velocidad_provincias['+ 10 Mbps - 20 Mbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 20 Mbps - 30 Mbps'] = velocidad_provincias['+ 20 Mbps - 30 Mbps'].str.replace('.', '').astype(int)
velocidad_provincias['+ 30 Mbps'] = velocidad_provincias['+ 30 Mbps'].str.replace('.', '').astype(int)

A estas 2 columnas les quitaremos los '.' aparte de las otras para que no nos salte un error.

In [1618]:
velocidad_provincias['Total'] = velocidad_provincias['Total'].str.replace('.','')
velocidad_provincias['OTROS'] = velocidad_provincias['OTROS'].str.replace('.','')

Ahora haremos un resumen juntando dos columnas en una.

In [1619]:
velocidad_provincias['hasta 1 mbps'] = velocidad_provincias['HASTA 512 kbps'] + velocidad_provincias['+ 512 Kbps - 1 Mbps']
velocidad_provincias.drop(columns=['HASTA 512 kbps','+ 512 Kbps - 1 Mbps'],inplace=True)
velocidad_provincias['1 mbps - 10 mbps'] = velocidad_provincias['+ 1 Mbps - 6 Mbps'] + velocidad_provincias['+ 6 Mbps - 10 Mbps']
velocidad_provincias.drop(columns=['+ 1 Mbps - 6 Mbps','+ 6 Mbps - 10 Mbps'],inplace=True)
velocidad_provincias['10 Mbps - 30 Mbps'] = velocidad_provincias['+ 10 Mbps - 20 Mbps'] + velocidad_provincias['+ 20 Mbps - 30 Mbps']
velocidad_provincias.drop(columns= ['+ 10 Mbps - 20 Mbps','+ 20 Mbps - 30 Mbps'],inplace=True)

luego ingresamos la columna indice

In [1620]:
velocidad_provincias['indice'] = rango

Para finalizar con el dataframe importare los datos a un formato csv.

In [1621]:
velocidad_provincias.to_csv('nuevos_datos/velocidad_provincias.csv',index=False)

Continuaremos con tecnologia_provincias

Lo que hare sera eliminar la columna Total

In [1622]:
tecnologia_provincias.drop(columns='Total',inplace=True)

luego ingresariamos la columna indice

In [1623]:
tecnologia_provincias['indice'] = rango

importamos en un csv

In [1624]:
tecnologia_provincias.to_csv('nuevos_datos/tecnologia_provincias.csv',index=False)

seguimos con bajada provincias

cambiaremos el tipo de dato de la siguiente columna

In [1625]:
bajada_provincias['Mbps (Media de bajada)'] = bajada_provincias['Mbps (Media de bajada)'].astype(int)

le cambiamos el nombre y eliminamos la columna vieja

In [1626]:
bajada_provincias['Mbps (miles)'] = bajada_provincias['Mbps (Media de bajada)']
bajada_provincias.drop(columns='Mbps (Media de bajada)',inplace=True)

importamos en un csv

In [1627]:
bajada_provincias.to_csv('nuevos_datos/bajada_provincias.csv',index=False)

no utilizare las localidades y bajada_velocidad_provincias en mi analisis. por lo que aqui termina mi inspeccion y tratado de datos.